@charset "utf-8";

@media print{@page {size: landscape}}

fieldset {
	border : 1px solid grey;
	border-radius : 20px;
}

li {
  list-style-type: none;
}
* ul {
  margin: 0;
  padding: 0;
}
label {
    width: 240px;
    display: inline-block;
}

#choix select {
	width:120px;
}
input {
    width:150px;
	padding-left: 5px;
}

label, input, select {
	margin:3px;
	border-radius: 20px;
}
#button {
	margin-top:30px;
	text-align: center;
}
#button input {
	width:auto
}
.champsGris {
	background-color: lightgray;
}
.prixHt {
	background-color: lightgray;
}
#checkbox {
	width: auto;
	text-align: left;
}
